@import "tailwindcss";
@import "tw-animate-css";

/* Dark mode variant */
@custom-variant dark (&:is(.dark *));

/* Theme (maps Tailwind tokens to CSS vars) */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-ibm-plex-sans: "IBM Plex Sans", sans-serif;
  --font-bebas-neue: var(--bebas-neue);

  --color-primary: #E7C9A5;
  --color-primary-admin: #25388C;

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  /* Custom colors */
  --color-green: #027A48;
  --color-green-100: #ECFDF3;
  --color-green-400: #4C7B62;
  --color-green-500: #2CC171;
  --color-green-800: #027A48;

  --color-red: #EF3A4B;
  --color-red-400: #F46F70;
  --color-red-500: #E27233;
  --color-red-800: #EF3A4B;

  --color-blue-100: #0089F1;

  --color-light-100: #D6E0FF;
  --color-light-200: #EED1AC;
  --color-light-300: #F8F8FF;
  --color-light-400: #EDF1F1;
  --color-light-500: #8D8D8D;
  --color-light-600: #F9FAFB;
  --color-light-700: #E2E8F0;
  --color-light-800: #F8FAFC;

  --color-dark-100: #16191E;
  --color-dark-200: #3A354E;
  --color-dark-300: #232839;
  --color-dark-400: #1E293B;
  --color-dark-500: #0F172A;
  --color-dark-600: #333C5C;
  --color-dark-700: #464F6F;
  --color-dark-800: #1E2230;

  --color-gray-100: #CBD5E1;

  /* Radii */
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-xl: calc(var(--radius) + 4px);
}

/* Base layer: define light/dark vars */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
  .hide-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .hide-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .hide-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .hide-scrollbar::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }

  :root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }

  .dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
  }
}

@layer components {
  .form-btn {
        background-color: var(--color-primary) !important;
        color: var(--color-dark-100) !important;
        display: inline-flex !important;
        min-height: 3.5rem !important;
        width: 100% !important;
        align-items: center !important;
        justify-content: center !important;
        border-radius: 0.375rem !important;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
        font-weight: bold !important;
        font-size: 1rem !important;
        transition: background-color 0.2s;
    }
    .form-btn:hover {
        background-color: #e7c9a5 !important; /* fallback for hover:bg-primary */
  }

  .form-input {
  width: 100%;
  min-height: 3.5rem;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-white, #fff);
  background-color: var(--color-dark-300);
  outline: none !important;
}
.form-input::placeholder {
  font-weight: 400;
  color: var(--color-light-100);
}

.book-title {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-white);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (min-width: 475px) {
  .book-title {
    font-size: 1.25rem;
  }
}

.book-genre {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  font-style: italic;
  color: var(--color-light-100);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (min-width: 475px) {
  .book-genre {
    font-size: 1rem;
  }
}

.book-loaned {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}
@media (max-width: 475px) {
  .book-loaned {
    justify-content: center;
  }
}

.book-btn {
  margin-top: 0.75rem;
  min-height: 3.5rem;
  width: 100%;
  font-family: var(--font-bebas-neue);
  font-size: 1rem;
  color: var(--color-primary);
  background-color: var(--color-dark-600);
}

.borrowed-book {
  background: var(--gradient-vertical);
  padding: 1.25rem;
  border-radius: 1rem;
  width: 100%;
  position: relative;
}
@media (min-width: 475px) {
  .borrowed-book {
    width: min-content;
  }
}

.borrowed-book_cover {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 0.5rem;
}
@media (min-width: 1024px) {
  .borrowed-book_cover {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.book-cover_extra_small { width: 28.95px; height: 2.5rem; }
.book-cover_small { width: 55px; height: 76px; }
.book-cover_medium { width: 144px; height: 199px; }
.book-cover_regular { width: 114px; height: 169px; }
@media (min-width: 475px) {
  .book-cover_regular { width: 174px; height: 239px; }
}
.book-cover_wide { width: 256px; height: 354px; }
@media (min-width: 475px) {
  .book-cover_wide { width: 296px; height: 404px; }
}

.book-list {
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}
@media (max-width: 475px) {
  .book-list { justify-content: space-between; }
}
@media (min-width: 475px) {
  .book-list { gap: 2.5rem; }
}

}


@layer utilities {
  .gradient-vertical {
    background: linear-gradient(180deg, #12141d 0%, #12151f 100%);
  }

  .gradient-gray {
    background: linear-gradient(270deg, #37363a 0%, #353637 100%);
  }

  .gradient-blue {
    background: linear-gradient(180deg, #232839 0%, #12141d 100%);
  }

  .auth-container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    color: #f8f9fa;
  }
  @media (min-width: 640px) {
    .auth-container {
      flex-direction: row;
    }
  }

  .auth-form {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    height: 100%;
    min-height: 100vh;
    flex: 1 1 0%;
    align-items: center;
    background-image: url('/path/to/pattern');
    background-size: cover;
    background-position: top;
    background-color: #12141d;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .auth-box {
    background: linear-gradient(180deg, #12141d 0%, #12151f 100%);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 36rem;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 0.5rem;
    padding: 2.5rem;
  }

  .auth-illustration {
    position: sticky;
    height: 10rem;
    width: 100%;
  }
  @media (min-width: 640px) {
    .auth-illustration {
      top: 0px;
      height: 100vh;
      flex: 1 1 0%;
    }
  }

  .root-container {
    display: flex;
    min-height: 100vh;
    flex: 1 1 0%;
    flex-direction: column;
    background-image: url('/path/to/pattern');
    background-size: cover;
    background-position: top;
    background-color: #12141d;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  @media (min-width: 475px) {
    .root-container {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }
  @media (min-width: 768px) {
    .root-container {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }

  .book-details {
    margin-top: 4rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  @media (min-width: 1024px) {
    .book-details {
      margin-top: 9rem;
      flex-direction: row;
    }
  }

  .book-details h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #3b82f6;
  }

  .library {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 36rem;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .library-subtitle {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #f8f9fa;
  }

  .library-title {
    margin-top: 0.5rem;
    font-size: 1.875rem;
    font-weight: 600;
    color: #fff;
  }
  @media (min-width: 475px) {
    .library-title {
      font-size: 3rem;
    }
  }
}
